<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> <!-- Title of the page (at a browser tab)-->
    <link rel="stylesheet" href="styles.css"> <!-- Link to the CSS file -->
</head>
<body>
    <nav>
        <!-- Navigation bar goes here -->
    </nav>
    <main>
        <!-- Main content goes here -->
         <!-- Ideally two boxes that users will be able to press,
          allowing them to click on one where they can create a new trip or 
          load an older one-->
          <!-- Add react script for the two boxes-->
    </main>
    <footer>
        <!-- Footer goes here -->
         <!-- About us section would go here-->
    </footer>
</body>
</html>