<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> <!-- Title of the page (at a browser tab)-->
    <link rel="stylesheet" href="styles.css"> <!-- Link to the CSS file -->
</head>
<body>
    <nav>
        <!-- Navigation bar goes here -->
    </nav>
    <main>
        <!-- Main content goes here -->
         <nav>
            <ul>
                <fa-ul><button onclick="location.href''"'>Login</fa-ul>
                <fa-ul><button onclick="location.href''"'>Get Started</fa-ul>
            </ul>
         </nav>
        <div class="option-boxes">
            <!-- WW-##: Options to create a new trip plan-->
            <button onclick="location.href''">Create New Trip</button>
            <!-- WW-##: Options to load an existing trip plan-->
            <button onclick="location.href''">Load Existing Trip</button>
        </div>
    </main>
    <footer>
        <!-- Footer goes here -->
         <!-- About us section would go here-->
    </footer>
</body>
</html>