.Sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: hsl(201, 69%, 22%);
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: hsl(202, 52%, 30%);
}

.SidebarList #active {
  background-color: hsl(202, 52%, 30%);
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}
