.itinerary-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px 15px 15px 40px;
  margin: 25px 15px 15px 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.createititnerary-title {
  text-align: center;
  padding-right: 120px;
}

.itinerary-day {
  margin-bottom: 25px;
}

.itinerary-daytitle {
  height: 50px;
  font-size: 14px;
}

.itinerary-itemscontainer {
  display: flex;
  flex-wrap: wrap;
}
.itinerary-item {
  width: 750px;
}

.itinerary-itemtime {
  padding-top: 8px;
  width: 350px;
  font-size: 8px;
  color: hsl(201, 85%, 29%);
}

.itinerary-item-title {
  font-size: 15px;
  color: black;
}
.itinerary-item-details {
  width: 725px;
  border: 1px solid #ccc;
  color: hsl(202, 14%, 37%);
  border-radius: 10px;
  padding: 5px;
}
