.home-page {
  display: flex;
  min-height: 100vh;
  overflow-y: auto;
}
.home-container {
  display: flex;
  width: 100%;
}
.home-contents {
  flex: 1;
  width: 100%;
  margin-left: 250px;
  padding: 2rem;
  background-color: hsl(202, 52%, 30%);
  border: 1px solid hsl(0, 0%, 3%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-card {
  width: 100%;
  max-width: 2000px; /* optional – remove this if you want full width always */
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
}
