<html>
    <head>
        <title>WhichWay Login</title>
    </head>

    <body>
        <div>
            <h1>Login</h1>
        </div>

        <div>
            <form action="/login_page.js" method="POST">
                <!--<label for="user_name">Username:</label><br>-->
                <input type="text" id="user_name" name="user_name" placeholder="Username"><br><br>
                <!--<label for="password">Password:</label><br>-->
                <input type="text" id="password" name="password" placeholder="Password"><br>
            </form>
            <button type="login" onClick="">Login</button><br><br>
            <button type="sign_up" onClick="">Sign up</button>
            <button type="forgot_password" onClick="">Forgot Password</button>
        </div>

        <div>

        </div>
    </body>
</html>
