<html>
    <head>
        <title>WhichWay Sign-In</title>
    </head>

    <body>
        <div>
            <h1>Login</h1>
        </div>

        <div>
            <form action="/signup_page.js">
                <label for="name">Full Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="user_name">Username:</label><br>
                <input type="text" id="user_name" name="user_name"><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password"><br>
            </form>
            <button type="login" onClick="">login</button>
        </div>

        <div>

        </div>
    </body>
</html>
