<html>
  <head>
    <title>WhichWay Sign-In</title>
  </head>

  <body>
    <div>
      <h1>Signup</h1>
    </div>

    <div>
      <form action="signup_page.js" method="POST">
        <div>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Full Name"
            required
          />
        </div>

        <br /><br />

        <div>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>

        <br /><br />

        <div>
          <input
            type="text"
            id="user_name"
            name="user_name"
            placeholder="Username"
            required
          />
        </div>

        <br /><br />

        <div>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <br />
      </form>
      <div>
        <button id="signup" type="submit" onClick="">Signup</button>
      </div>
    </div>

    <div></div>
  </body>
</html>
