.home-body, .home-body html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-body .option-boxes {
  display: flex;
  flex-direction: row; /* Place buttons next to each other */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  gap: 40px;
  padding: 20px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add background color for better visibility */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for better visibility */
}

.home-body .option-boxes button {
  padding: 20px 40px;
  font-size: 1.125rem;
  font-weight: 425;
  cursor: pointer;
  outline: none;
  background: hsl(201, 69%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.31rem;
  border: 1px solid hsl(0, 0%, 75%);
  box-shadow: 0 10px 20px hsl(0, 0%, 90%);
  transition: 0.2s ease;
}

.home-body .option-boxes button:hover {
  background: hsl(202, 52%, 30%);
}
