@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: hsl(201, 69%, 22%);
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}

.container {
  max-width: 410px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 10px 20px hsl(0, 0%, 0%);
  border: 1px solid hsl(0, 0%, 29%);
}

.container .form-title {
  text-align: center;
  font-size: 1.67rem;
  font-weight: 600;
  margin-bottom: 1.87rem;
}

.container .social-login {
  display: flex;
  gap: 1.31rem;
}

.social-login .social-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.81rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 425;
  padding: 0.75rem 0;
  border-radius: 0.31rem;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 75%);
  transition: 0.3s ease;
  box-shadow: 0 10px 20px hsl(0, 0%, 90%);
}

.social-login .social-button:hover {
  background: hsl(0, 0%, 95%);
}

.social-login .social-button:focus {
  border-color: hsl(0, 0%, 88%);
}

.social-login .social-button .social-icon {
  width: 23px;
}

.container .separator {
  text-align: center;
  font-weight: 600;
  margin: 1.5rem 0;
  position: relative;
}

.container .separator span {
  position: relative;
  z-index: 1;
  background: white;
  padding: 0 0.9rem;
  font-size: 1.06rem;
  font-weight: 500;
}

.container .separator::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: hsl(0, 0%, 75%);
}

.form .input-wrapper {
  height: 54px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.form .input-wrapper .input-field {
  height: 100%;
  width: 100%;
  border-radius: 0.31rem;
  border: 1px solid hsl(0, 0%, 75%);
  padding: 0 1.25rem 0 3.12rem;
  outline: none;
  font-size: 1.06rem;
  transition: 0.2s ease;
  box-shadow: 0 10px 20px hsl(0, 0%, 90%);
}

.form .input-wrapper .input-field:focus {
  border-color: hsl(0, 0%, 88%);
}

.form .input-wrapper .input-field:hover {
  background: hsl(0, 0%, 95%);
}

.form .input-wrapper .input-field::placeholder {
  color: hsl(0, 0%, 60%);
}
